:root{
    /* colors */
    --blue:blue;
    --red:red;
    --white:white;
    --main-bg-color:#161616;
    --pale-green:#DDF247;
    --black:#111111;
    --grey-black:#232323;
    --bg-btn-color:#161616;
    --grey-pink:#8A8AA0;
    --caption-color:#7D7D7D;
    /* fonts */
    --main-font:'sahel';
    --second-font:'vazir';
    --third-font:'sarbaz';
    /* distances */
    --main-top:5rem;
    --big-top:12rem;
    --main-gap:5rem;
    --icon-distance:1rem;
    --line-height:3rem;
    /* sizes */
    --font-3rem:5rem;
    --main-font-size:2rem;
    --main-icon-size:2.5rem;
    /* animations */
    --main-transition:all .7s ease;
    --move-transition:all .3s ease-in;
    --scale-transition:all .1s ease;
}