:root{
    /* colors */
    --blue:blue;
    --red:red;
    --white:white;
    --main-bg-color:#161616;
    --page-green:#DDF247;
    --black:#111111;
    --bg-btn-color:#161616;
    /* fonts */
    --main-font:'sahel';
    --second-font:'vazir';
    --third-font:'sarbaz';
    /* distances */
    --margin-top:5rem;
}