.header__main{
    margin:var(--margin-center);
    margin-top:15rem;
}
.eader__backgrounds{
}
.header__background{
    position: relative;
}
.header__background--1{
    animation: flicker 3s infinite linear alternate;
    animation-delay: 1.5s;
    position: absolute;
}
.header__background--1-1{
    left: 50rem;
    top: 45rem;
    animation: flicker 3s infinite linear alternate;
    animation-delay: 1.5s;
    position: absolute;
}
.header__background--1-2{
    left: 35rem;
    top: 35.1rem;
    animation: flicker 3s infinite linear alternate;
    animation-delay: 1.5s;
    position: absolute;
}
.header__background--1-3{
    right: 50rem;
    top: 44rem;
    animation: flicker 3s infinite linear alternate;
    animation-delay: 1.5s;
    position: absolute;
}
.header__background--2{
    left: 23rem;
    top: 23rem;
    animation: rotate360 1.5s infinite linear;
    width: 3rem;
}
.header__background--3{
    left: 48rem;
    top: 35rem;
    animation: movedown 3s infinite linear alternate;
    width: 7rem;
}
.header__background--4{
    right: 30rem;
    top: 29rem;
    animation: moveleft 2s infinite linear alternate;
    width: 8rem;
}
.header__background--5{
    animation: scale1 2s infinite linear;
    animation-delay: 1s;
}
.header__background--5-1{
    right: 10rem;
    top: 23.6rem;
    width: 2rem;
}
.header__background--5-2{
    right: 20rem;
    top: 42rem;
}
.header__content{

}
.header__title{
    font-size: var(--font-3rem);
    font-family: var(--third-font)
}
.header__caption{
    margin-top: var(--main-top);
    color: var(--caption-color);
    font-size: var(--main-font-size);
    padding: 0 20rem;
    line-height: var(--line-height);
}
.header__buttons{
    gap: var(--main-gap);
    margin-top: var(--main-top);
}
.header__button{
    background-color: var(--white);
    padding: 3rem 4rem;
}
/* Slider */
.header__slider{
    margin-top: 10rem;
}
.swiper {
    max-width: 145rem;
    min-width: 100rem;
    height: 100%;
    margin: 0 auto; /* Center the swiper container */
  }
  .swiper:hover  .swiper-button-prev,
  .swiper-button-next {
   opacity: 1;
  }
  .swiper:hover .swiper-button-next {
   opacity: 1;
  }
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  .swiper-button-prev,
  .swiper-button-next {
    color: var(--white) !important; /* Change this to the desired color */
    background-color: var(--slider-color); /* Optional: change background color */
    border-radius: 50%; /* Optional: make the buttons round */
    padding: 3rem; /* Adjust padding for the buttons */
    transition: var(--main-transition);
    font-size: var(--main-font-size);
    position: absolute; /* Position absolutely */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust to center vertically */
    z-index: 10; /* Ensure buttons are above other elements */
    opacity: 0;
  }
  .swiper-button-prev:hover::after,
  .swiper-button-next:hover::after {
    color: var(--black); /* Change to black on hover */
  }
  
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: var(--pale-green);
  }
  
  .swiper-pagination-bullet {
    background-color: #ccc; /* Default color for pagination bullets */
  }
  
  .swiper-pagination-bullet-active {
    background-color: #00ff00; /* Green color for active pagination bullet */
  }
  
  .swiper-rtl .swiper-button-prev::after {
    font-size: 3rem;
  }
  
  .swiper-rtl .swiper-button-next::after {
    font-size: 3rem;
  }
  

  
  .swiper-pagination-bullet-active {
    background-color: var(--pale-green) !important; /* رنگ دلخواه شما */
  }
.SwiperSlide{
  cursor: pointer;
}





