.header__main{
    margin:var(--margin-center);
    margin-top:15rem;
}
.eader__backgrounds{
}
.header__background{
    position: relative;
}
.header__background--1{
    animation: flicker 3s infinite linear alternate;
    animation-delay: 1.5s;
    position: absolute;
}
.header__background--1-1{
    left: 50rem;
    top: 45rem;
    animation: flicker 3s infinite linear alternate;
    animation-delay: 1.5s;
    position: absolute;
}
.header__background--1-2{
    left: 35rem;
    top: 35.1rem;
    animation: flicker 3s infinite linear alternate;
    animation-delay: 1.5s;
    position: absolute;
}
.header__background--1-3{
    right: 50rem;
    top: 44rem;
    animation: flicker 3s infinite linear alternate;
    animation-delay: 1.5s;
    position: absolute;
}
.header__background--2{
    left: 23rem;
    top: 23rem;
    animation: rotate360 1.5s infinite linear;
}
.header__background--3{
    left: 48rem;
    top: 35rem;
    animation: movedown 3s infinite linear alternate;
}
.header__background--4{
    right: 30rem;
    top: 29rem;
    animation: moveleft 2s infinite linear alternate;
}
.header__background--5{
   
    animation: scale1 2s infinite linear;
    animation-delay: 1s;
}
.header__background--5-1{
    right: 10rem;
    top: 23.6rem;
    width: 2rem;
}
.header__background--5-2{
    right: 20rem;
    top: 42rem;
}
.header__content{

}
.header__title{
    font-size: var(--font-3rem);
    font-family: var(--third-font)
}
.header__caption{
    margin-top: var(--main-top);
    color: var(--caption-color);
    font-size: var(--main-font-size);
    padding: 0 20rem;
    line-height: var(--line-height);
}
.header__buttons{
    gap: var(--main-gap);
    margin-top: var(--main-top);
}
.header__button{
    background-color: var(--white);
    padding: 3rem 4rem;
}








.header__slider{
    margin-top: 15rem;
}
.swiper {
    width: 80%;
    height: 100%;
}
 .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  

  

  
  